* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', Arial, Verdana;
    color: black;
    background-color: #dcdee0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }

  p, h4 {
    padding:10px 10px;
  }
/* =======================================
       Top-nav styles
======================================= */

  nav {
    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    padding: 25px;
  }

  ul a:hover {
    color: #C2571A;
  }

  h1, .top-nav {
    text-align: center;
    text-transform: uppercase;
  }
  
  .top-nav, .top-nav li {
    width: 100%;
  }
  
  .top-nav {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    letter-spacing: .05em;
  }
  
  .top-nav li {
    display: inline;
    padding: 10px 10px;
    margin: 5px auto;
    background-color: white;
  }
  
  .top-nav a {
    text-transform: uppercase;
  }

  img {
    max-width: 90%;
  }
  /* =======================================
        Intro styles
======================================= */
  .me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .intro {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    order: 5;
    text-align: center;
  }
  
  .profile-image {
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }
  /* ===========================================
      Project containers styles
  ==============================================  */ 

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: rgb(252, 253, 252);
    margin: 0 auto;
  }

  .portfolio {
    box-sizing: content-box;
    width: 100%;
    margin:10px;
    padding: 25px;
    justify-content: center;
    text-transform: uppercase;
   }

  .col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 300px;
    color: rgb(7, 7, 7);
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
  }

  .box-1 { 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .box-2 { 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .box-3 {  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .box-4 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%; 
   }
  
  .box-5 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .box-6 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    flex-grow: 1;
  }
  .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
   
    margin: 0 auto;
  }

  .work {
    box-sizing: content-box;
    width: 100%;
    margin:10px;
    padding: px;
    justify-content: center;
    text-transform: uppercase;
    
   }

   .objective {
    display: flex;
    flex-direction: column;
    margin:0;
    justify-content: center;
    text-align: center;
    color:rgb(5, 5, 5);
    background-color: slategrey;
   }

  .contact-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color:blue;
  }

  .contact {
    display: flex;
    flex-direction: column;
    margin:0;
    justify-content: center;
    text-align: center;
    color:blue;
   }

   .footer-nav {
    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    padding: 10px 10px;
   }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding: 25px;
    height: 100px;
    text-transform: uppercase;
    background-color: darkgrey;
  }

  .full {
    display: none;
  }
/*====================================================
       Media Queries for 768px 
======================================================= */
  @media  (min-width: 768px) {
    .top-nav {
      display: flex;
      flex-direction: row;
      margin-top: auto;
      padding: 25px;
      justify-content:center;
    }
   
    .top-nav li {
      padding: px;
      width: 100%;
      margin-right: 5px auto;
      background-color:transparent;
    }
  
    .top-nav a {
      color: black;
    }

    .me {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 25px 25px 25px;
      align-items: flex-start;
    }

    .intro{
      order: 0;
      text-align: justify;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        margin: 5px;
    }
    
    .col {
       flex-basis: calc(50% - 20px);
       font-size: 1.1em;
    }  
    
    .skills {
      display: flex;
      flex-wrap: wrap;
      margin: 5px;
  }

    .contact{
      padding: 0 150px;
    }

    .top {
      display: none;
    }

    .full {
      display: inline-block;
      margin-left: 20px;
    }
  }
 /*====================================================
       Media Queries for screens 1024
======================================================= */
  @media (min-width: 1024px) {
    nav {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }

    .top-nav {
      display: flex;
      flex-direction: row;
      letter-spacing: .05em;
    }

    .top-nav, 
    .top-nav li {
      width: initial;
      margin-bottom: 0;
    }

    .intro {
      font-size: 25px;
    }

    .me {
      align-items: flex-start;
    }

    .col {
      flex-basis: calc(33.333% - 20px);
    }

    .top {
      display: none;
    }

    .full {
      display: inline-block;
      margin-left: 20px;
    }
  }



 