* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', Arial, Verdana;
    color: black;
    background-color: #e8ecef;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }
/* =======================================
       Top-nav styles
======================================= */

  nav {
    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;
    letter-spacing: .05em;
    background-color: ##e8ecef;
    padding: 25px;
  }
  ul a:hover {
    color: #C2571A;
  }

  h1, .top-nav {
    text-align: center;
    text-transform: uppercase;
  }
  
  .top-nav, .top-nav li {
    width: 100%;
    color: #000;
  }
  
  h1 a, .top-nav a {
    color: #000;
  }

  .top-nav {
    margin-top: 30px;
  }
  
  .top-nav li {
    display: inline;
    padding: 10px 0;
    margin: 5px auto;
   
  }
  
  .top-nav a {
    text-transform: uppercase;
  }

  img {
    max-width: 100%;
  }
  /* =======================================
        Intro styles
======================================= */
  .me {
    display: flex;
    justify-content: space-between;
    margin: 25px;
    background-color: rgb(121, 247, 10);
  }
  
  .intro {
    display: flex;
    justify-content: space-between;
    padding: 0 150px 0 0;
  }
  
  .profile-image {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    
  }
  /* ===========================================
      Project containers styles
  ==============================================  */ 

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: rgb(252, 253, 252);
    margin: 5px;
   
  }

  .portfolio {
    box-sizing: content-box;
    width: 100%;
    margin:10px;
    padding: 25px;
    justify-content: center;
    text-transform: uppercase;
   
   }

  .col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 250px;
    color: rgb(7, 7, 7);
    text-align: center;
    letter-spacing: 1px;
    margin: 10px;  
  }

  .box-1 { 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .box-2 { 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .box-3 {  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .box-4 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%; 
   }
  
  .box-5 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .box-6 {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    flex-grow: 1;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
   
    padding: 5px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
  }

  .contact {
    display: flex;
    flex-direction: column;
    margin:0 220px;
    padding: 0 25px 25px;
    justify-content: center;
    text-align: center;
   }


  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 25px;
    height: 100px;
    background-color: #107896;
  }

  .full {
    display: none;
  }
/*====================================================
       Media Queries for screens Less than 768px wide
======================================================= 
  @media  (min-width: 768px) {
    .top-nav {
      margin-top: 0;
    }
  
    .top-nav li {
      display: inline-block;
      width: auto;
      margin-right: 15px;
      background-color: transparent;
    }
  
    .top-nav li:last-child {
      margin-right: 0;
    }
  
    .top-nav a {
      color: #fff;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
      }
    
      .col {
        flex-basis: calc(50% - 20px);
      }  

      .top {
        display: none;
      }
      .full {
        display: inline-block;
        margin-left: 20px;
      }
  }
 ====================================================
       Media Queries for screens 1024
======================================================= 
  @media (min-width: 1024px) {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .top-nav, 
    .top-nav li {
      width: initial;
      margin-bottom: 0;
    }

    .col {
      flex-basis: calc(33.333% - 20px);
    }

    .top {
      display: none;
    }
    .full {
      display: inline-block;
      margin-left: 20px;
    }
  }

 ====================================================
       Media Queries for screens Less than 768px wide
======================================================= */

 