/* =======================================
        Base styles
======================================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #e8ecef;
}

.navbar {
  display: flex;
  justify-content: space-between;
  
}

.top-nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.nav-link a {
  display: flex;
  padding: 0px 5px 0;
  text-transform: uppercase;
}

.nav-link a:hover {
  background-color: #C2571A;
}

h1 a, .nav-link a {
  color: black;
  text-decoration: none;
}

nav {
  font-family: "Roboto", Arial, Verdana;
  font-weight: 400;
  letter-spacing: .05em;
  padding: 25px;
}

.me {
  display: flex;
  justify-content: space-between;
 
}

.intro {
  display: flex;
  justify-content: space-between;
  
  padding: 25px;
}

.profile-image {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

  h5 {
    padding: 5px;
    text-transform: uppercase;
    clear: both;
  }

  /* Project containers */
  .projects {
    display: flex;
    flex-wrap: wrap;
  }

  .project-box {
    display: flex;
    padding: 2%;
    flex-grow: 1;
    flex-basis:  29%;
  }

  .project-image {
    max-width: 50%;
  }

  .project-info {
    margin-top: auto;
  }



footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 20px;
  height: 100px;
  background-color: #C2571A;
}



/* ====================================================
       Media Queries for screens Less than 768px wide
======================================================= */



